/* Estilos generales para el cuerpo y HTML */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    /* El resto de tus estilos */
}



/* Estilos para el contenedor de la pizarra */
.board-container {
    margin-bottom: 20px;
}

/* Estilos para la pizarra */
#canvas {
    border: 2px solid black;
    cursor: crosshair;
    background-color: rgba(255, 255, 255, 0.5); /* Ajusta el último valor para la opacidad */
    border-radius: 15px;
    margin-top: -30px;
}

/* Estilos para las herramientas */
.tools {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools > * {
    margin: 0 10px;
}

/* Estilos para los botones Limpiar y Descargar */
#clear-btn, #download-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d4db19;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#clear-btn:hover, #download-btn:hover {
    background-color: #97a045;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para la tarjeta que contiene la pizarra */
.board-container.card {
    position: relative;
    width: 100%; /* Ajusta el ancho al 100% para ocupar todo el espacio disponible */
    height: auto; /* Ajusta la altura automáticamente según el contenido */
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
}

/* Estilos para el efecto de fondo de la tarjeta */
.card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 100%; /* Ajusta el ancho al 100% para ocupar todo el espacio disponible */
    height: 100%; /* Ajusta la altura al 100% para ocupar todo el espacio disponible */
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Estilos para el efecto de desenfoque de la tarjeta */
.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

/* Estilos para el texto de la tarjeta */
.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.card p:not(.heading) {
    font-size: 14px;
}

.card p:last-child {
    color: #e81cff;
    font-weight: 600;
}

/* Estilos de hover para la tarjeta */
.card:hover::after {
    filter: blur(30px);
}

.card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}


